
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

     <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    

  </head>

  <body>

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Todolist</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">List</a></li>
      <li><a href="/todo/create">Add To do</a></li>
      <li><a href="/register">Add user</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if app.user %}
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
      <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
    {% else %}
      <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>

    <div class="container">
<div class="row">
    <div class="col-md-12">
            {% block body %}{% endblock %}
    </div>
</div>
     

    </div><!-- /.container -->

{% block javascripts %}{% endblock %}
   
  </body>
</html>

