{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %} 
    <h2 class="page-header">Add Todo</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% else %}
<p>Tylko zalogowani użytkownicy mogą tworzyć nowe zadania<a href='{{ path('fos_user_security_login')}}'>Log in</a></p>
{% endif %}

{% endblock %}