{% extends 'base.html.twig' %}

{% block body %}

<a class="btn btn-default" href="/">Back to Todos</a>
<hr>
<h2 class="page-header">{{todo.name}}</h2>
<ul class="list-group">
<li class="list-group-item">Made By: {% for wykona in todo.wykona %}{{ users[wykona] }}, {% endfor %}</li>
<li class="list-group-item">Category: {{todo.category}}</li>
<li class="list-group-item">Create Date: <strong>{{todo.createDate|date("F j, Y, g:i a")}}</strong></li>
<li class="list-group-item">Due: <strong>{{todo.dueDate|date("F j, Y, g:i a")}}</strong></li>
</ul>
<p>
    {{todo.description}}
</p>
<h3>
    Komentarze:
</h3>
{% if app.user %} 
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% else %}
    Zakoguj się aby móc dodać komentarz!
    {% endif %}
{% for comment in todo.comments %}
       <div class="media">
  <div class="media-left">
    <img src="http://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ comment.name }}</h4>
    <p>{{ comment.content }}</p>
  </div>
</div>
 {% endfor %}
{% endblock %}



