{% extends 'base.html.twig' %}

{% block body %}

<h2 classs="page-header">Latest Todos</h2>
<table class="table"> 
<thead> 
        <tr> 
        <th>Topic</th> 
        <th>Due Date</th> 
    </tr> 
</thead> 
 <tbody> 
 {% for todo in todos %}
        <tr> 
        
        <td>{{todo.name}}</td> 
        <td>{{todo.dueDate|date("F j, Y, g:i a")}}</td> 
        <td>
        <a href="/todo/details/{{todo.id}}" class="btn btn-success">
        View</a>
    
        <a href="/todo/edit/{{todo.id}}" class="btn btn-default">
        Edit</a>
    
        <a href="/todo/delete/{{todo.id}}" class="btn btn-danger">
        Delete</a>
        </td>
        </tr> 
        {% endfor %}
</tbody> 
</table>

{% endblock %}